
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin-top: 100px;
    background-color: black; 
    padding: 20px;
  }
  
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .authToggle {
    display: flex;
    margin-bottom: 20px;
  }
  
  .authToggle button{
    margin-right: 10px;
    height: 50px;
  }
  
  .authToggle button.active {
    background-color: var(--primary-color); 
    color: #fff;
  }
  
  
  .authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(87, 75, 75);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .formTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  .authForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* font-size: 16px; */
    background-color: #fff;
    /* width: 300px;
    height: 40px; */
    /* border-radius: 5px; */
    outline: 0;
    /* border: 0; */
    padding-left: 15px;
    font-size: 1rem ;
    font-weight: 500;
    color: rgba(221, 231, 231, );
  }
  
  .authForm input:focus {
    border-color: var(--primary-color); 
    outline: none;
  }
  
